<div id='dashboard-sensor-segments'>
  <div class='dashboard-header'>
    <span class="title">SEGMENTS</span>
    <span class='loading'></span>
  </div>
  <ul class='box-list'>
    <li id='segments'>
      Segments <span><%=node["redBorder"]["segments"].count %></span>
    </li>
  </ul>
</div>
