<li class="form">
  <%= form_tag :controller => "logs", :action => "show_sensor", :sensor_id => @sensor.sid, :method => :get, :class => 'validate' do %>
    <%= text_field_tag '[search][text]', @filter_search, :placeholder => 'Filter Logs', :class => 'title-search-box right'  %>
    <%= button "Submit Search", :class => 'success' %>
  <% end %>
</li>  