<% if enabled %>
  <span class='round warning opacity'>
    <%= image_tag("icons/slash.png", :size => '16x16') %>
  </span>
<% else %>
  <span title="Non Default Rule" class='add_tipsy round warning'>
    <%= image_tag("icons/slash.png", :size => '16x16') %>
  </span>
<% end %>