<div class="section-title plus">Rule Policies</div>
<div class="rule-info plus">
  <table class="rule-1" border='0' cellspacing='0' cellpadding='0'>
    <tr>
      <th class="first">Policy</th>
      <th class="last">Recommended Action</th>
    </tr>
    <tbody>
      <% @rule.rule_policies.each do |x| %>
        <tr>
          <td><strong><%= x.policy.nil? ? "unknown" : x.policy.name %></strong></td>
          <td><%= x.action.nil? ? "unknown" : x.action.name%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
