<div id="footer" class='container_12'>
	<div id="footer-inside" class='round'>
		OnGuard SIM - <%= link_to 'http://www.onshore.com', 'http://www.onshore.com' %>
	</div>
	
	<%= yield :scripts %>
</div>
<a href="#" id="toTop" style="display: inline; "><span id="toTopHover" style="opacity: 0; "></span>To Top</a>
